@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
    var q = Request["search"] ?? "";
    var children = Model.Root().Children();
    var searchPageUrl = Model.Root().Children<Umbraco.Web.PublishedModels.SearchResult>().First().Url();
    var site = Model.Root() as HomePage;
    var favicon = site.Favicon != null ? site.Favicon : null;
    var appicon = site.AppIcon != null ? site.AppIcon : null;
   
}

@* the fun starts here *@

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@site.MetaTitle</title>
    <meta name="description" content="@(site.MetaDescription)">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">

    @if (appicon != null)
    {
        <link rel="apple-touch-icon" sizes="57x57" href="@appicon.GetCropUrl(57, 57)">
        <link rel="apple-touch-icon" sizes="60x60" href="@appicon.GetCropUrl(60, 60)">
        <link rel="apple-touch-icon" sizes="72x72" href="@appicon.GetCropUrl(72, 72)">
        <link rel="apple-touch-icon" sizes="76x76" href="@appicon.GetCropUrl(76, 76)">
        <link rel="apple-touch-icon" sizes="114x114" href="@appicon.GetCropUrl(114, 114)">
        <link rel="apple-touch-icon" sizes="120x120" href="@appicon.GetCropUrl(120, 120)">
        <link rel="apple-touch-icon" sizes="144x144" href="@appicon.GetCropUrl(144, 144)">
        <link rel="apple-touch-icon" sizes="152x152" href="@appicon.GetCropUrl(152, 152)">
        <link rel="apple-touch-icon" sizes="180x180" href="@appicon.GetCropUrl(180, 180)">
    }
    @if (favicon != null)
    {
        <link rel="icon" type="image/png" sizes="192x192" href="@favicon.GetCropUrl(192, 192)">
        <link rel="icon" type="image/png" sizes="32x32" href="@favicon.GetCropUrl(32, 32)">
        <link rel="icon" type="image/png" sizes="96x96" href="@favicon.GetCropUrl(96, 96)">
        <link rel="icon" type="image/png" sizes="16x16" href="@favicon.GetCropUrl(16, 16)">
        <meta name="msapplication-TileImage" content="@favicon.GetCropUrl(144, 144)">
    }
</head>
<body>
<header>
    @{ const string bgUrl = "/assets/bg.svg";}
    <div class="header-bg lazyloaded" style="background-image:url(@bgUrl)"></div>
    <div class="header-inner">
        <div class="header-logo">
            <img src="/assets/Logo.png" alt=""/>
        </div>
        <section class="block search-block gray-bg">
            <form action="@searchPageUrl" class="search__form search">
                @* <input type="hidden" name="amount" class="search-pagination-amount" value="8" /> *@
                <input type="text" value="@(q)" autocomplete="off" name="search" id="page-search-input" required="" class="search__input" placeholder="Search the site...">
                <img src="/assets/search.svg" />
            </form>
        </section>
    </div>
</header>
<main>
    <div class="box">
        <a class="mobile-nav">
            <button class="hamburger" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </a>
        <nav>
            <ul>
                @{ var selected = Model == Model.Root() ? "selected" : ""; }
                <li class="@selected">
                    <a href="/">
                        <img class="show" src="/assets/Icons/view.svg" alt=""/><img class="show-hover" src="/assets/Icons/view-white.svg" alt=""/><span>@Model.Root().Name</span>
                    </a>
                </li>
                @foreach (var child in children)
                {
                    if (child.GetType() != typeof(Umbraco.Web.PublishedModels.SearchResult))
                    {
                        selected = child == Model || child == Model.Parent ? "selected" : "";
                        <li class="@selected">
                            @{ var url = child.Url() ?? ""; }
                            <a href="@url">

                                @{
                                    var srcBlack = "/assets/Icons/" + child.ContentType.Alias + ".svg";
                                    var srcWhite = "/assets/Icons/" + child.ContentType.Alias + "-white.svg";
                                }
                                <img class="show" src="@srcBlack" alt=""/><img class="show-hover" src="@srcWhite" alt=""/><span>@child.Name</span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </nav>
        <!-- <nav>
            <ul>
                <li><a href="/svenskvardepappersservice/index.html"><img src="assets/Icons/view-white.svg" /><span>Översikt</span></a></li>
                <li><a href="/svenskvardepappersservice/news.html"><img src="assets/Icons/paper.svg" /><span>Nyhetsarkiv</span></a></li>
                <li class="selected"><a href="/svenskvardepappersservice/documents.html"><img src="assets/Icons/open-folder.svg" /><span>Dokument</span></a></li>
                <li><a href="/svenskvardepappersservice/partners.html"><img src="assets/Icons/privacy-policy.svg" /><span>Samarbetsparners</span></a></li>
                <li><a href="/svenskvardepappersservice/contact.html"><img src="assets/Icons/send-white.svg" /><span>Kontaktuppgifter</span></a></li>
            </ul>
        </nav> -->
        <div class="main-section">
            @RenderBody()
        </div>
    </div>

    <div class="footer"></div>

</main>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/scripts/app.js"></script>
<script type="text/javascript">
function search() {
window.location = "/sokresultat";
}
</script>

</body>