@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Partner>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}
<div class="main-section__heading">
    <a href="@Model.Parent.Url()" class="main-section__back">
        <img src="/assets/Icons/ctrl-left.svg" alt="">
        <h1>@Model.Parent.Name</h1>
    </a>
</div>

<div class="overview">
    <section class="overview__image logo-container">
        @{ var srcImg = Model.Logo != null ? Model.Logo.MediaItem.Url() : ""; }
        <img class="logo-image lazyloaded" src="@srcImg" alt=""/>
    </section>
    <div class="overview__content">
        <h1> @Model.Name </h1>
        @Model.Text
    </div>
</div>